.card {
	float:left;
	height:175px;
	width: 100px;
	border-radius: 5px;
	padding: 5px;
	margin:5px;
	background-color: white;
}

span{
	display: block;
}



.red{
	border-style: solid;
	border-color: red;
}

.black{
	border-style: solid;
	border-color: black;
}

.board{
	width:880px;
	border-color:white;

}

.hand{
	width:650px;
	margin: 0px 110px 0px 110px;
}

.deck{
	margin:0px;
}

.inplay{
	margin-right: 200px;
	margin-left: 200px;
	height:190;

}

.infobox{
	float:left;
	height:175px;
	width: 100px;
	padding: 5px;
	margin:5px;
	background-color: white;
}

body{
	margin:0;
	background-color: green;

}


.center {
    margin-left: auto;
    margin-right: auto;
    background-color: #b0e0e6;
}

.clearfix:after{
  content: "";
  display: block;
  visibility: hidden;
  clear:both;
  line-height: 0;
  height: 0;
}