.card {
	float:left;
	height:175px;
	width: 100px;
	border-radius: 5px;
	padding: 5px;
	margin:5px;
	background-color: white;
}

span{
	display: block;
}

.red{
	border-style: solid;
	border-color: red;
}

.black{
	border-style: solid;
	border-color: black;
}

.board{
	width:770px;
	border-color:white;
}

.hand{
	width:570px;
	height:185px;
}

.card-deck{
	width:185px;
	height:110px;
}

.inplay{

}

div{
	margin:0;

}

body{
	margin:0;
	background-color: green
}



.clearfix:after{
  content: "";
  display: block;
  visibility: hidden;
  clear:both;
  line-height: 0;
  height: 0;
}